.header {
  position: absolute;
  width: 1218.39px;
  height: 718.09px;
  left: 174px;
}
@media (max-width: 500px) {
  .header {
    max-width: 100%;
    height: 0%;
  }
}
.header .one {
  position: absolute;
  width: 78px;
  height: 38px;
  left: 77px;
  top: 43px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #D74E09;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header .one {
    display: none;
  }
}
.header .two {
  position: absolute;
  width: 137px;
  height: 38px;
  left: 226px;
  top: 43px;
  /* Source Sans Pro/Semi Bold/30px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */
  /* Primary/Trinidad */
  color: #D74E09;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header .two {
    display: none;
  }
}
.header .three {
  position: absolute;
  width: 78px;
  height: 38px;
  left: 419px;
  top: 43px;
  /* Source Sans Pro/Semi Bold/30px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */
  /* Primary/Trinidad */
  color: #D74E09;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header .three {
    /* Log In Mobile */
    position: absolute;
    left: 81.33%;
    right: 6.13%;
    top: 2.83%;
    bottom: 94.33%;
    /* Source Sans Pro/Semi Bold/18px */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    /* Primary/Trinidad */
    color: #D74E09;
  }
}
.vacationplanner {
  position: absolute;
  width: 257px;
  height: 41px;
  left: 1134px;
  top: 36px;
  /* Source Sans Pro/Bold/30px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  /* Primary/Trinidad */
  color: #D74E09;
}
@media (max-width: 500px) {
  .vacationplanner {
    /* Vacation Planner */
    position: absolute;
    left: 29.6%;
    right: 29.6%;
    top: 6.77%;
    bottom: 90.02%;
    /* Source Sans Pro/Semi Bold/21px */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    /* Primary/Trinidad */
    color: #D74E09;
  }
}
.box-search {
  position: absolute;
  left: 579px;
  top: 36px;
  /* Color/Neutral/6 - White */
  background: #FFFFFF;
  /* Text Colors/Regent Gray */
  border: 0.5px solid #8A9BA8;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .box-search {
    display: none;
  }
}
.box-search .combined {
  padding-left: 20px;
  padding-right: 10px;
}
.box-search .search {
  width: 450px;
  height: 45px;
  /* Source Sans Pro/Regular/16px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* Text Colors/Regent Gray */
  color: #8A9BA8;
}
.body-section {
  position: absolute;
  width: 1218.39px;
  height: 718.09px;
  left: 174px;
  top: 50px;
}
@media (max-width: 500px) {
  .body-section {
    /* vector-vacation-tourism-online-booking-airline-tickets-concept-buying-travel-package-business-flights-worldwide-boarding-135720300 1 */
    position: absolute;
    max-width: 100%;
    height: 367.17px;
    top: 60px;
    border: 2px solid red;
  }
}
.body-section .world {
  position: absolute;
  width: 530px;
  height: 530px;
  left: 768px;
  top: 220px;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .body-section .world {
    /* vector-vacation-tourism-online-booking-airline-tickets-concept-buying-travel-package-business-flights-worldwide-boarding-135720300 1 */
    position: absolute;
    width: 622.99px;
    height: 367.17px;
    left: -248px;
    top: 60px;
  }
}
.body-section .simple {
  position: absolute;
  width: 432px;
  height: 91px;
  left: 77px;
  top: 220px;
  /* Source Sans Pro/Regular/72px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 91px;
  /* identical to box height */
  color: #000000;
}
.body-section .one-stop {
  position: absolute;
  width: 547px;
  height: 52px;
  left: 32px;
  top: 348px;
  /* Source Sans Pro/Regular/36px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  /* Text Colors/Mine Shaft */
  color: #242424;
}
.body-section .next-travel {
  position: absolute;
  width: 318px;
  height: 76px;
  left: 147px;
  top: 547px;
  /* Source Sans Pro/Regular/30px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.body-section .rectangle {
  position: absolute;
  width: 343px;
  height: 53px;
  left: 122px;
  top: 657px;
  /* Primary/Trinidad */
  background: #D74E09;
  border-radius: 5px;
}
.body-section .rectangle .sign-up {
  position: absolute;
  width: 66px;
  height: 26px;
  left: 135px;
  top: 10px;
  /* Source Sans Pro/Regular/21px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  /* Text Colors/White */
  color: #FFFFFF;
}
.body-section .log-in {
  position: absolute;
  width: 343px;
  height: 53px;
  left: 122px;
  top: 743px;
  /* Text Colors/White */
  background: #FFFFFF;
  /* Primary/Trinidad */
  border: 1px solid #D74E09;
  box-sizing: border-box;
  border-radius: 5px;
}
.body-section .log-in .log-in-text {
  position: absolute;
  left: 39.69%;
  right: 34.99%;
  top: 20.75%;
  bottom: 22.64%;
  /* Source Sans Pro/Regular/24px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Primary/Trinidad */
  color: #D74E09;
}
