html,
body {
  font-family: Source Sans Pro;
  color: #242424;
}
h1 {
  font-size: 7.2rem;
}
h2 {
  font-size: 3.6rem;
}
h3,
a {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2%;
}
@media (max-width: 500px) {
  .header {
    display: none;
  }
}
.header .nav-bar-right {
  margin-left: 10%;
}
.header .top {
  align-items: center;
  width: 100%;
}
.header .one {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #D74E09;
  text-decoration: none;
  padding: 20px;
}
.header .two {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #D74E09;
  text-decoration: none;
  padding: 20px;
}
.header .flip {
  flex-direction: row-reverse;
  display: flex;
  padding-right: 150px;
}
.header nav {
  word-spacing: 10px;
}
.header .vacationplanner {
  /* Source Sans Pro/Bold/30px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  /* Primary/Trinidad */
  color: #D74E09;
}
.header .box-search {
  /* Color/Neutral/6 - White */
  background: #FFFFFF;
  /* Text Colors/Regent Gray */
  border: 0.5px solid #8A9BA8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-right: 150px;
}
.header .box-search .combined {
  padding-left: 20px;
  padding-right: 10px;
}
.header .box-search .search {
  width: 450px;
  height: 45px;
  /* Source Sans Pro/Regular/16px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* Text Colors/Regent Gray */
  color: #8A9BA8;
}
.bottom-half {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
}
@media (max-width: 500px) {
  .bottom-half {
    display: flex;
    flex-direction: column;
    width: 96%;
  }
}
.bottom-half .world {
  border-radius: 60%;
  margin-top: 10%;
}
@media (max-width: 500px) {
  .bottom-half .world {
    width: 100%;
    margin-top: 0%;
  }
}
.body-section {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-right: 10%;
  align-items: center;
  margin-top: 8%;
}
@media (max-width: 500px) {
  .body-section {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.body-section .simple {
  /* Source Sans Pro/Regular/72px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 91px;
  /* identical to box height */
  color: #000000;
}
.body-section .one-stop {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  /* Text Colors/Mine Shaft */
  color: #242424;
}
.body-section .next-travel {
  /* Source Sans Pro/Regular/30px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin: 5%;
}
@media (max-width: 500px) {
  .body-section .next-travel {
    display: none;
  }
}
.body-section .rectangle {
  /* Primary/Trinidad */
  background: #D74E09;
  border-radius: 5px;
  width: 50%;
  padding: 1.5%;
}
@media (max-width: 500px) {
  .body-section .rectangle {
    margin-top: 10%;
  }
}
.body-section .rectangle .sign-up {
  /* Source Sans Pro/Regular/21px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  /* Text Colors/White */
  color: #FFFFFF;
}
.body-section .log-in {
  /* Text Colors/White */
  background: #FFFFFF;
  /* Primary/Trinidad */
  border: 1px solid #D74E09;
  box-sizing: border-box;
  border-radius: 5px;
  width: 53%;
  padding: 1.5%;
  margin-top: 5%;
}
.body-section .log-in .log-in-text {
  /* Source Sans Pro/Regular/24px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  /* Primary/Trinidad */
  color: #D74E09;
}
h1 {
  margin: auto;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 26px;
  text-align: center;
  padding: 2%;
  padding-bottom: 5%;
  color: #D74E09;
}
body {
  text-align: center;
  margin: auto;
}
body .center {
  display: flex;
  text-align: center;
}
body .center form {
  margin: auto;
}
body .none {
  display: none;
}
body .rectangle {
  /* Primary/Trinidad */
  background: #D74E09;
  border-radius: 5px;
  width: 20%;
  padding: 1.5%;
  margin-top: 10%;
}
body .rectangle .sign-up {
  /* Source Sans Pro/Regular/21px */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  /* Text Colors/White */
  color: #FFFFFF;
}
.member-section {
  background-color: #D74E09;
  border: 1px solid black;
}
.about-planner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #46B1C9;
}
.meet-the-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
}
.team-lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
}
.backend-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
}
.react2-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
  color: white;
}
.react2devs {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
}
.frontend-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
  color: white;
}
.react1devs {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
}
.marketing-frontend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
  color: white;
}
.webui-devs {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
}
.ux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
}
.teamleadtitle,
.backendtitle,
.uxtitle {
  padding-bottom: 10%;
  color: white;
}
.secondname {
  color: grey;
}
