.bottom-half {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;

    img {
        border-radius: 50%;
    }

    .world {
        // position: absolute;
        border-radius: 60%;
        margin-top: 10%;
        // left: 768px;
        // top: 220px;

    }
}


.body-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    align-items: center;



    .simple {

        /* Source Sans Pro/Regular/72px */
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 91px;
        /* identical to box height */
        color: #000000;

    }

    .one-stop {

        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        /* Text Colors/Mine Shaft */
        color: #242424;

    }

    .next-travel {

        /* Source Sans Pro/Regular/30px */
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        color: #000000;
        margin: 5%;
    }

    .rectangle {

        /* Primary/Trinidad */
        background: #D74E09;
        border-radius: 5px;
        width: 50%;
        padding: 1.5%;

        .sign-up {

            /* Source Sans Pro/Regular/21px */
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 26px;
            text-align: center;
            /* Text Colors/White */
            color: #FFFFFF;
        }
    }

    //closes rectangle
    .log-in {

        /* Text Colors/White */
        background: #FFFFFF;
        /* Primary/Trinidad */
        border: 1px solid #D74E09;
        box-sizing: border-box;
        border-radius: 5px;
        width: 53%;
        padding: 1.5%;
        margin-top: 5%;

        .log-in-text {

            /* Source Sans Pro/Regular/24px */
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            align-items: center;
            text-align: center;
            /* Primary/Trinidad */
            color: #D74E09;
        }
    }
}

//closes log-in
//closes body