.bottom-half {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;

    @media @mobile {
        display: flex;
        flex-direction: column;
        width: 96%;
    }


    .world {
        // position: absolute;
        border-radius: 60%;
        margin-top: 10%;

        // left: 768px;
        // top: 220px;
        @media @mobile {
            width: 100%;
            margin-top: 0%;
        }
    }
}


.body-section {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-right: 10%;
    align-items: center;
    margin-top: 8%;

    @media @mobile {
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }





    .simple {

        /* Source Sans Pro/Regular/72px */
        .font();
        font-size: 72px;
        line-height: 91px;
        /* identical to box height */
        color: #000000;

    }

    .one-stop {

        .font();
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        /* Text Colors/Mine Shaft */
        color: #242424;

    }

    .next-travel {

        /* Source Sans Pro/Regular/30px */
        .font();
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        color: #000000;
        margin: 5%;

        @media @mobile {
            display: none;
        }
    }

    .rectangle {

        /* Primary/Trinidad */
        background: #D74E09;
        border-radius: 5px;
        width: 50%;
        padding: 1.5%;

        @media @mobile {
            margin-top: 10%;
        }

        .sign-up {

            /* Source Sans Pro/Regular/21px */
            .font();
            font-size: 21px;
            line-height: 26px;
            text-align: center;
            /* Text Colors/White */
            color: #FFFFFF;
        }
    }

    //closes rectangle
    .log-in {

        /* Text Colors/White */
        background: #FFFFFF;
        /* Primary/Trinidad */
        border: 1px solid #D74E09;
        box-sizing: border-box;
        border-radius: 5px;
        width: 53%;
        padding: 1.5%;
        margin-top: 5%;

        .log-in-text {

            /* Source Sans Pro/Regular/24px */
            .font();
            font-size: 24px;
            line-height: 30px;
            align-items: center;
            text-align: center;
            /* Primary/Trinidad */
            color: #D74E09;
        }
    }
}

//closes log-in
//closes body

// contact us 
h1 {
    text-align: center;
    margin: auto;
    .font();
    font-size: 45px;
    line-height: 26px;
    text-align: center;
    padding: 2%;
    padding-bottom: 5%;
    color: @signup-btn-bg-color;
}

body {
    text-align: center;
    margin: auto;


    .center {
        .center();


        form {
            margin: auto;
        }

    }

    .none {
        display: none;
    }

    .rectangle {

        /* Primary/Trinidad */
        background: #D74E09;
        border-radius: 5px;
        width: 20%;
        padding: 1.5%;
        margin-top: 10%;


        .sign-up {

            /* Source Sans Pro/Regular/21px */
            .font();
            font-size: 21px;
            line-height: 26px;
            text-align: center;
            /* Text Colors/White */
            color: #FFFFFF;
        }
    }
}
//about section
.member-section{
    background-color:  #D74E09;
    border: 1px solid black;
  }
  .about-planner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #46B1C9;
    @media @mobile{
        flex-direction: column;
    }
  }
  .meet-the-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .team-lead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
  }
  .backend-dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    @media @mobile{
        line-height: 1;
    }
  }
  .react2-dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    color: white;
    @media @mobile{
        line-height: 1;
    }
  }
  .react2devs{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    @media @mobile{
        line-height: 1;
    }
  }
  .frontend-dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    color: white;
    @media @mobile{
        line-height: 1;
    }
  }
  .react1devs{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    @media @mobile{
        line-height: 1;
    }
  }
  .marketing-frontend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    color: white;
    @media @mobile{
        line-height: 1;
    }
  }
  .webui-devs{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    @media @mobile{
        line-height: 1;
    }
  }
  .ux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    @media @mobile{
        line-height: 1;
    }
  }
  .teamleadtitle, .backendtitle, .uxtitle{
    padding-bottom: 10%;
    color: white;
  }
  .secondname{
    color: grey;
  }
  .mission{
   font-size: 1.6rem; 
}//closes about section

//mission statement section
.mission-statement{
    background-color: #46B1c9;
}
.mission-img{
    border-radius: 50%;
    @media @mobile {
        display: none;
    }
}
.mission-title{
    color: @main-font-color;
}
.misson-text{
    @media @mobile{
        font-size: 2.15rem;
}
}//closes mission statement